<%total = 0%>
<h1><%= @user.name %>'s cart</h1>

<table>
  <tr>
    <td>Product</td>
    <td>Amount</td>
    <td>Price</td>
  </tr>
  <% @cart.cartlines.each do |line| 
    product = Product.find(line.product_id)%>
      <tr>
        <td><%=product.name%></td>
        <td><%=line.product_amount%></td>
        <td><%=line.product_amount * product.price%></td>
      </tr>
      <%total += line.product_amount * product.price%>
  <%end%>
</table>

<h2>Total</h2>
<p><%=total%></p>