<h1>Welcome to ROCKET FUEL!</h1>
<h2>Get your coffee here</h2>
<a href="/login">Log in</a>
<a href="/signup">Sign up</a>

<div class="grid">
<% Product.all.each do |product| %>
  <div class="col-4">
    <img src="public/img/<%=product.slug%>-square" alt="<%=product.name%>">
    <header><%=prodcut.name%></header>
    <p>$<%=prodcut.price%></p>
    <a href="/products/<%=product.slug%>"
  </div>
<%end%>
</div>
