<div class="grid">
<% Product.all.each do |product| %>
  <div class="col-4">
    <a href="/products/<%=product.slug%>"><img src="public/img/<%=product.slug%>-square" alt="<%=product.name%>"></a>
    <a href="/products/<%=product.slug%>"><header><%=product.name%></header></a>
    <p>$<%=product.price%></p>
    <a href="/products/<%=product.slug%>">Find out more</a>
  </div>
<%end%>
</div>
